---
import { getLang, useTranslations, getExperienceForLang } from "../../i18n/utils";
import TimelineItem from "../ui/TimelineItem.astro";
import SectionHeading from "../ui/SectionHeading.astro";

const lang = getLang(Astro.currentLocale || Astro.params.lang);
const t = useTranslations(lang);
const experienceItems = getExperienceForLang(lang);
---

<section id="experience" class="py-16 md:py-24 max-w-5xl mx-auto px-4 md:px-8">
  <SectionHeading subtitle={t("experience.subtitle")} title={t("experience.title")} />

  <!-- Timeline DaisyUI -->
  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    {
      experienceItems.map((item, index) => (
        <TimelineItem
          index={index}
          totalItems={experienceItems.length}
          title={item.title}
          company={item.company}
          companyUrl={item.companyUrl}
          date={item.date}
          description={item.description}
          responsibilities={item.responsibilities}
          tags={item.tags}
        />
      ))
    }
  </ul>
</section>
