---
import ChevronDown from "../../assets/chevron-down.svg";
import Globe from "../../assets/globe.svg";
import { languages, defaultLang } from "../../i18n/ui";

const currentLang = Astro.currentLocale || defaultLang;

// Path matching segments for switching language of the current page
const pathname = Astro.url.pathname; // e.g. "/es/blog/mi-post"
const segments = pathname.split("/").filter(Boolean); // e.g. ["es", "blog", "mi-post"]

function getPathForLocale(targetLang: string) {
  // If prefixDefaultLocale is true, all paths start with a locale.
  // The first segment of segments will match one of the supported languages.
  const hasLocalePrefix = Object.keys(languages).includes(segments[0]); // e.g. true (since "es" is in languages)
  const restSegments = hasLocalePrefix ? segments.slice(1) : segments; // e.g. ["blog", "mi-post"]

  // Construct new path with target locale prefix, and preserve trailing slash if present
  const path = `/${targetLang}/${restSegments.join("/")}`; // e.g. "/en/blog/mi-post" (when targetLang is "en")
  // Ensure we don't end up with dual slashes
  return path.replace(/\/+/g, "/");
}
---

<div title="Change Language" class="dropdown dropdown-end">
  <button
    class="flex items-center gap-1 px-1.5 font-medium text-sm opacity-70 hover:opacity-100 transition-opacity duration-200 cursor-pointer"
    aria-label="Language"
  >
    <Globe />
    <span>{currentLang.toUpperCase()}</span>
    <ChevronDown />
  </button>
  <div
    tabindex="0"
    class="dropdown-content bg-base-200 text-base-content rounded-box mt-2 max-h-[calc(100vh-10rem)] overflow-y-auto border border-base-content/10 shadow-2xl z-50 w-32"
  >
    <ul class="menu menu-sm w-full">
      {
        Object.entries(languages).map(([code, { name }]) => {
          const active = code === currentLang;
          return (
            <li>
              <a
                href={getPathForLocale(code)}
                class:list={["gap-3 px-2", { active }]}
              >
                <span class="pe-4 font-mono text-[.5625rem] font-bold tracking-[0.09375rem] opacity-40">
                  {code.toUpperCase()}
                </span>
                <span class="font-[sans-serif]">{name}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
