---
import ChevronDown from "../assets/chevron-down.svg";
import Globe from "../assets/globe.svg";
import { languages } from "../i18n/ui";
import { getLang } from "../i18n/utils";

const currentLang = getLang(Astro.currentLocale || Astro.params.lang);

const pathname = Astro.url.pathname;
const segments = pathname.split("/").filter(Boolean);

function getPathForLocale(targetLang: string) {
  const hasLocalePrefix = Object.keys(languages).includes(segments[0]);
  const restSegments = hasLocalePrefix ? segments.slice(1) : segments;
  const path = `/${targetLang}/${restSegments.join("/")}`;
  return path.replace(/\/+/g, "/");
}
---

<div title="Change Language" class="dropdown dropdown-end">
  <button
    class="flex items-center gap-1 px-1.5 font-medium text-sm opacity-70 hover:opacity-100 transition-opacity duration-200 cursor-pointer"
    aria-label="Language"
  >
    <Globe />
    <span class="text-xs">{currentLang.toUpperCase()}</span>
    <ChevronDown />
  </button>
  <div
    tabindex="0"
    class="dropdown-content bg-base-200 text-base-content rounded-box mt-2 max-h-[calc(100vh-10rem)] overflow-y-auto border border-base-content/10 shadow-2xl z-50 w-40"
  >
    <ul class="menu menu-sm w-full">
      {
        Object.entries(languages).map(([code, { name }]) => {
          const active = code === currentLang;
          return (
            <li>
              <a
                href={getPathForLocale(code)}
                class:list={["gap-3 px-2", { active }]}
              >
                <span class="pe-4 font-mono text-[.5625rem] font-bold tracking-[0.09375rem] opacity-40">
                  {code.toUpperCase()}
                </span>
                <span class="font-[sans-serif]">{name}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
